In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [86]:
import pandas as pd

def __eq__(self, other):
    if isinstance(other, (int, float, str)):
        return other in self
    return super().__eq__(other)

import __builtin__

    
__builtin__.pd.Interval.__eq__ = MyPatchedStr
    
    
df = pd.DataFrame(
    [42, 24],
    index=[Interval(0, 5), Interval(5, 8)]
)

df

ModuleNotFoundError: No module named '__builtin__'

In [122]:
from phd.bn import bayes_net
import pandas as pd
import re
from phd import tools


df = pd.DataFrame({
    'z': [1] * 8 + [0] * 8,
    'y': [0] * 10 + [1] * 6,
    'x': [1, 1, 1, 1,  2, 2, 2, 2,  3, 3, 3,  4,  5,  6,  7,  8],
})

bn = bayes_net.BayesNet(edges=[('z', 'y'), ('y', 'x')])
bn.update_cpds(df, n_most_common=2, n_bins=2)

query = 'z == 0 and x == 1'
queries = query.lower().split(' and ')
queries = {re.split(' (==|in) ', query)[0]: query for query in queries}

sub_tree = bn.steiner_tree(queries.keys())

root = sub_tree.root()

def subset_cpd(node):
    
    cpd = sub_tree.node[node]['cpd']
    
    if not cpd.by:
        
        for variable, query in queries.items():
            if variable == cpd.on:
                cpd.mcv = tools.query_series(cpd.mcv, query)
                if not cpd.lcv.empty:
                    cpd.lcv = tools.query_series(cpd.lcv, query)
                    
    else:
        
        
        for variable, query in queries.items():
            if variable == cpd.by:
                cpd.mcv = tools.query_series(cpd.mcv, query)
                if not cpd.lcv.empty:
                    cpd.lcv = tools.query_series(cpd.lcv, query)
            
            if variable == cpd.on:
                for idx in cpd.mcv.index:
                    cpd.mcv[idx].mcv = tools.query_series(cpd.mcv[idx].mcv, query)
                    if not cpd.mcv[idx].lcv.empty:
                        cpd.mcv[idx].lcv = tools.query_series(cpd.mcv[idx].lcv, query)
                
        
    for child in sub_tree.successors(node):
        subset_cpd(child)

#subset_cpd(root)

class Interval(pd.Interval):

    def __eq__(self, other):
        if isinstance(other, (int, float, str)):
            return other in self
        return super().__eq__(other)


cpd = sub_tree.node['x']['cpd']
cpd.mcv[0].filter(lambda x: x == 3).lcv
#i = lcv.index[0]
#print(type(i), i)

#z.mcv

x
(2.999, 3.0]    1
dtype: int64

In [15]:
df = pd.DataFrame([1, 1, 2])
a = df
a[0] = 3
df

   0
0  3
1  3
2  3

In [93]:
c.loc[1].loc[8]

x
[6.0, 8.0]     0.222222
[8.0, 10.0]    0.222222
dtype: float64

In [155]:
import sqlalchemy

uri = 'postgresql://postgres:admin@localhost:5432/imdb'

engine = sqlalchemy.create_engine(uri)
metadata = sqlalchemy.MetaData()
metadata.reflect(bind=engine)

In [161]:
list(metadata.tables['name'].columns)[0]

[Column('id', INTEGER(), table=<name>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x7f45a25526a0>, for_update=False)),
 Column('name', TEXT(), table=<name>, nullable=False),
 Column('imdb_index', VARCHAR(length=12), table=<name>),
 Column('imdb_id', INTEGER(), table=<name>),
 Column('gender', VARCHAR(length=1), table=<name>),
 Column('name_pcode_cf', VARCHAR(length=5), table=<name>),
 Column('name_pcode_nf', VARCHAR(length=5), table=<name>),
 Column('surname_pcode', VARCHAR(length=5), table=<name>),
 Column('md5sum', VARCHAR(length=32), table=<name>)]

In [ ]:
SELECT
    MIN(chn.name) AS uncredited_voiced_character,
    MIN(t.title) AS russian_movie
FROM
    char_name AS chn,
    cast_info AS ci,
    company_name AS cn,
    company_type AS ct,
    movie_companies AS mc,
    role_type AS rt,
    title AS t
WHERE
    ci.note like '%(voice)%' and
    ci.note like '%(uncredited)%' AND
    cn.country_code  = '[ru]' AND
    rt.role  = 'actor' AND
    t.production_year > 2005 AND
    
    t.id = mc.movie_id AND
    t.id = ci.movie_id AND
    ci.movie_id = mc.movie_id AND
    chn.id = ci.person_role_id AND
    rt.id = ci.role_id AND
    cn.id = mc.company_id AND
    ct.id = mc.company_type_id;

In [ ]:
EXPLAIN ANALYZE
SELECT *
FROM movie_companies mc,
title t,
cast_info ci
WHERE
mc.movie_id = t.id AND
ci.movie_id = t.id

In [152]:
card_cn = 362131
card_mc = 4960080
card_t = 4636120
card_ci = 63472600
card_mk = 7480080

mc_company_id_card = 20971
mc_movie_id_card = 0.175624 * 4960080
t_id_card = 4636120
ci_movie_id_card = 1564490
mk_movie_id_card = 120761

card_ci * card_t * card_mk * card_mc * min(1 / t_id_card, 1 / ci_movie_id_card) * min(1 / t_id_card, 1 / mk_movie_id_card) * min(1 / t_id_card, 1 / mc_movie_id_card)

109565008.10466084

In [22]:
import pandas as pd

pd.merge(
    left=pd.merge(
        left=accounts,
        right=persons,
        left_on='person_id',
        right_on='id',
        suffixes=['_accounts', '_persons']
    ),
    right=items,
    left_on='id_persons',
    right_on='person_id'
)

,id_accounts,months,person_id_x,gender,eyes,id_persons,id,person_id_y,cost,weight
0,1,12,1,male,blue,1,1,1,expensive,heavy
1,1,12,1,male,blue,1,2,1,expensive,heavy
2,1,12,1,male,blue,1,3,1,expensive,heavy
3,2,13,1,male,blue,1,1,1,expensive,heavy
4,2,13,1,male,blue,1,2,1,expensive,heavy
5,2,13,1,male,blue,1,3,1,expensive,heavy
6,3,14,1,male,blue,1,1,1,expensive,heavy
7,3,14,1,male,blue,1,2,1,expensive,heavy
8,3,14,1,male,blue,1,3,1,expensive,heavy
9,4,13,2,female,green,2,4,2,cheap,light

In [48]:
from phd.relation import Relation
from phd.relationship import Relationship

accounts = Relation(
    name='accounts',
    data=[
        (1, 12, 1),
        (2, 13, 1),
        (3, 14, 1),
        (4, 13, 2),
    ],
    columns=['id', 'months', 'person_id']
)

persons = Relation(
    name='persons',
    data=[
        ('male', 'blue', 'blond', 1),
        ('female', 'green', 'brown', 2),
        ('female', 'green', 'brown', 3),
        ('male',  'green', 'brown', 4),
    ],
    columns=['gender', 'eyes', 'hair', 'id']
)

items = Relation(
    name='items',
    data=[
        (1, 1, 'cheap', 'light'),
        (2, 1, 'cheap', 'heavy'),
        (3, 1, 'expensive', 'heavy'),
        (4, 2, 'cheap', 'light'),
        (5, 3, 'expensive', 'light'),
        (6, 4, 'expensive', 'light')
    ],
    columns=['id', 'person_id', 'cost', 'weight']
)

relations = [accounts, persons, items]

relationships = [
    Relationship(left='accounts', left_on='person_id', right='persons', right_on='id'),
    Relationship(left='persons', left_on='id', right='items', right_on='person_id')
]

In [117]:
items

   id  person_id       cost weight
0   1          1      cheap  light
1   2          1      cheap  heavy
2   3          1  expensive  heavy
3   4          2      cheap  light
4   5          3  expensive  light
5   6          4  expensive  light

In [135]:
import matplotlib.pyplot as plt
from phd.bn import Estimator


estimator = Estimator()

estimator.build_from_relations_and_relationships(relations, relationships)

query_join = 'persons.id = items.person_id'
query_filter = 'items.cost == "expensive" and items.weight == "heavy"'
sel = estimator.estimate_selectivity(query_join=query_join, query_filter=query_filter)
print(sel)

1.0

In [332]:
from phd.bn import bayes_net


bn = bayes_net.BayesNet(edges=[('hair', 'eyes'), ('eyes', 'gender')])
bn.update_cpds(persons)
bn.infer('hair == "brown" and gender in ("male")')

0.25

In [108]:
print(persons)

   gender   eyes   hair  id
0    male   blue  blond   1
1  female  green  brown   2
2  female  green  brown   3
3    male  green  brown   4

In [ ]:
# Male or female with blue or green eyes
(0.25 * 1 * 1) + (0.75 * 1 * 1)

In [305]:
# Female with blue eyes
(0.25 * 1 * 0) + (0.75 * 0 * 2/3)

0.0

In [306]:
# Female with green eyes
(0.25 * 0 * 0) + (0.75 * 1 * 2/3)

0.5

In [293]:
print(bn.node['hair']['cpd'])
print()
print(bn.node['eyes']['cpd'])
print()
print(bn.node['gender']['cpd'])

hair
blond    0.25
brown    0.75
dtype: float64

hair   eyes
blond  blue     1.0
brown  green    1.0
dtype: float64

hair   gender
blond  male      1.000000
brown  female    0.666667
       male      0.333333
dtype: float64